.header {
  width: 100%;
  display: grid;
  place-items: center;
  height: 40px;
  border-bottom: 1px solid grey;
}

.content {
  text-align: center;
  font-weight: 600;
  width: 100%;
  max-width: 1440px;
  font-size: 24px;
  padding-inline: 80px;
}
