.footer {
  width: 100%;
  display: grid;
  place-items: center;
  height: 20px;
  border-top: 1px solid grey;
}

.content {
  text-align: center;
  width: 100%;
  max-width: 1440px;
  font-size: 12px;
  padding-inline: 80px;
}
