.footer {
  width: 100%;
  display: grid;
  place-items: center;
  height: fit-content;
  border-top: 1px solid grey;
}

.content {
  text-align: center;
  width: 100%;
  max-width: 1440px;
  font-size: 12px;
  padding-inline: 20px;
}

@media (min-width: 768px) {
  .content {
    padding-inline: 40px;
  }
}

@media (min-width: 1280px) {
  .content {
    padding-inline: 80px;
  }
}
