:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: #242424;
  --font-color: rgba(255, 255, 255, 0.87);

  --transition: 300ms ease-in-out;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-width: 320px;
  height: 100%;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color: var(--font-color);
  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
  overflow-y: auto;
}

footer {
  flex-shrink: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
header,
main,
footer,
p,
a,
h1,
div,
span,
input {
  margin: 0;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  html,
  body,
  #root {
    font-size: 16px;
  }
}

.VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
