:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: #242424;
  --font-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --transition: 300ms ease-in-out;
}

html,
body,
#root {
  min-width: 320px;
  height: 100%;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--font-color);
  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
}

main {
  flex: 1;
  overflow-y: auto;
}

footer {
  flex-shrink: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
header,
main,
footer,
p,
a,
h1,
div,
span,
input,
ul,
li {
  margin: 0;
}

ul,
li {
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
}

.VisuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
